body {
	background-color: seashell;
	color:black;
	font-family: Lucida Console;
	font-style:normal;
	font-weight:normal;

}
h1 {
	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
	text-decoration: underline;
	background-color: silver;
	border-radius:15px;
}

.container{
	max-width: 850px;
	height: auto;
	overflow:hidden;
	position:relative;
}

.sideBar {
	max-width:30%;
	/*min-width: 320px;*/ 
	background-color: lavender;
	height: 100%;
	float:left;
	position:absolute;
}
#headerImage {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	height:80%;
	border-radius:10px;

}
.content{
	/*display: inline-block;*/
	height:auto;
	width:65%;
	float:right;
	position: relative;
}

.image{
	max-width:100%;

}

.gallary{
width:100%;
}

.imageGallery {
	max-width: 30%;
	height:225px;
	float:left;
	padding:5px;

}

p {
	clear: both;
	
}
.navlist{
	margin: auto;
	position:relative;
	border-top: 1px solid steelblue;

}

	.navlist ul{
		margin: 0px;
		
		list-style-position: inherit;
	}

	.navlist ul li
	{
		float: left;
		padding: 15px;
		text-align: center;
		height:auto;
		width: auto;
		color: black;	
		list-style-type: none;
		display:inline-block;
	}



	.navlist ul li a{
		text-decoration: none;
		text-align: center;
		padding:15px;
		border-bottom:1px solid steelblue;
		color: steelblue;
		line-height:100%;
	}

	.navlist a:hover {
		color: white;
		background-color: steelblue;
	}

}
	}




/* Smartphones */
@media all and (max-width: 849px) {
	.container{
		padding:30px;

}
}

@media all and (max-width: 650px) {
	.imageGallery{
		clear:both;
		float:none;
		max-width:100%;
		display:block;
		margin-left: auto;
		margin-right: auto;

		}
	.title{
		margin:5px;
		}

		#headerImage{
		max-width:100%;
		padding-top: 50px;
		display:block;
		}
		.content{
			width:100%;

		}
		.sideBar{
			position:relative;
			max-height: auto;
			overflow:hidden;
			max-width:100%;
		}

		.sideBar ul li {
		float:left;
		padding-right: 10px;
		padding-left: 10px;
		width: auto;
		color: black;	
		list-style-type: none;
		display:block;
		}

		.hide {
			display:none;
		}

	.navlist {
		position:relative;
		min-height:20px;
	}
	.navlist ul{
		width:125px;
		padding:0;
		position:absolute;
		top:0;
		left:0;
		border: solid 1px #aaa;
		background: #fff url(dropdown.png) no-repeat 10px 11px;
		border-radius:5px;
		box-shadow: 0 1px 2px rgba (0, 0, 0, .3);
	}
	.navlist ul li{
		display:none;
		padding:0px;
	}

	.navlist .current {
		display:block;

	}



	.navlist a{
		display:block;
		padding: 5px 5px 5px 5px;
		text-align: center;
	}

	.navlist .current a{
		background:none;
		color: #666;
	}

	.navlist ul:hover {
		background-image: none;
	}

	.navlist ul:hover li {
		display:block;
		margin: 0 0 5px;
		text-align: center;
	}
	.navlist ul:hover .current{
		background: url(dropdown.png) no-repeat 10px 7px;
	}


	}

}
